.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Contenedor principal del formulario */
.formulario-container {
  padding: 20px;
}

/* Estilos para la tabla */
.responsive-table {
  width: 100%;
  overflow-x: auto;
}

/* Ajustar el tamaño de fuente para tabletas */
@media (max-width: 768px) {
  .ant-typography {
    font-size: 18px;
  }

  .ant-checkbox-wrapper {
    font-size: 16px;
  }

  .ant-table-cell {
    padding: 8px 16px;
  }
}

